body {
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    background-color: tan;
}

section {
    padding: 3rem;
}

h1 {
    letter-spacing: 1px;
}

img {
    box-shadow: 0px 0px 5px Black;
}
